<section class="index">
  <h1 id="doces" style="margin-bottom: 20px;">Quem Somos</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin-bottom: 20px;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100"
                src="https://img.freepik.com/fotos-gratis/vitrine-de-vidro-de-pastelaria-com-variedade-de-bolos-e-doces-frescos-sobremesas-doces-populares-oferecidas-para-venda_639032-1341.jpg"
                alt="First slide" class="img-fluid" style="max-width: 100%; background-size: cover;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100"
                src="https://static.itdg.com.br/images/auto-auto/ff3fe2ed13bd16defb1e6a5ecc2a340e/truques-de-confeitaria.jpg"
                alt="Second slide" class="img-fluid" style="max-width: 100%; background-size: cover;">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100"
                src="https://img.freepik.com/fotos-premium/o-chef-de-confeitaria-decora-o-bolo-com-niveis-de-chocolate-de-frutas-vermelhas-e-hortela_199620-5444.jpg"
                alt="Third slide" class="img-fluid" style="max-width: 100%; background-size: cover;">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <p class="mb-4">Bem-vindo à Candy Day , um lugar encantador onde os sonhos mais doces se tornam
          realidade! Aqui, a arte da confeitaria se combina com a paixão por ingredientes frescos e a
          criatividade culinária, proporcionando aos nossos clientes uma experiência única e deliciosa.</p>
        <p class="mb-4">Nossa doceria é um refúgio para os amantes de sobremesas, um lugar onde você pode se
          deliciar com uma variedade de doces tentações que certamente irão satisfazer seu paladar.</p>
        <p class="mb-4">Formada a 5 anos pela família Freitas para proporcionar alegria em forma de doces para
          todos que amam e não consegue viver sem um bom doce.</p>
      </div>
    </div>
  </div>
</section>

<section class="index">
  <div class="container mt-4 mb-4">
    <h1 id="doces" class="text-center" style="margin-bottom: 20px;">Cardápio</h1>
    <div class="row align-items-stretch">
      <div class="col-lg-3" *ngFor="let item of valores">
        <div class="card cardapioBox d-flex flex-column">
          <img class="card-img-top" src="{{ item.foodImg }}" alt="{{ item.foodName }}">
          <div class="card-body">
            <h4 class="card-title">{{ item.foodName }}</h4>
            <p class="card-text details">{{ item.foodDetails }}</p>
            <p class="card-text preco">{{ item.foodPrice | currency:'BRL' }}</p>
          </div>
        </div>
      </div>
    </div>
    <a routerLink="../contato" class="pedidos btn btn-primary mt-4">Faça Seu Pedido - Clique Aqui</a>
  </div>
</section>

