<div class="container">
    <div class="wrapper">
        <div class="empresa-info">
            <h3 class="logo-left">RM Games</h3>
            <ul>
                <li><i class="bi bi-question-circle"></i> Entre em contato para:</li>
                <li>Orçamentos, dúvidas, críticas ou sugestões!</li>
                <li><br></li>
                <li><i class="bi bi-geo-alt"></i> Avenida das Américas, 4666, Barra da Tijuca, Rio de Janeiro - RJ</li>
                <li><i class="bi bi-telephone"></i> (21) 96436-7267</li>
                <li><i class="bi bi-envelope-at"></i> rafaelladzn@gmail.com</li>
            </ul>
        </div>
        <div class="contact">
            <h3 class="logo-right">Contate-nos</h3>

            <form id="contact-form">

                <p>
                    <label>Nome</label>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome completo" required>
                </p>

                <p>
                    <label>Telefone</label>
                    <input type="tel" name="telefone" id="tel" placeholder="Digite seu número de telefone" required>
                </p>

                <p>
                    <label>E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu endereço de e-mail" required>
                </p>

                <p class="full">
                    <label>Mensagem</label>
                    <textarea name="mensagem" rows="5" id="mensagem" placeholder="Digite sua mensagem aqui" required></textarea>
                </p>

                <p class="full">
                    <button type="submit">Enviar</button>
                </p>

            </form>
        </div>
    </div>
</div>