<footer class="text-center text-white bg-custom">
    <div class="container p-4">
        <section class="mb-4">
            <a routerLink="" style="text-decoration: none;"><h1>Candy Day</h1></a>
            <a class="nav-link" routerLink="" id="lista"><i class="bi bi-house-fill me-2"></i>Início</a>
            <a class="nav-link" routerLink="sobre" id="lista"><i class="bi bi-people-fill me-2"></i>Sobre</a>
            <a class="nav-link" routerLink="contato" id="lista"><i class="bi bi-telephone-fill me-2"></i>Contato</a>
        </section>
        <section class="mb-4">
            <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border-radius: 50px;"
                href="https://www.facebook.com/" role="button"><i class="bi bi-facebook"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #25D366; border-radius: 50px;"
                href="https://www.whatsapp.com/" role="button"><i class="bi bi-whatsapp"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border-radius: 50px;"
                href="https://www.youtube.com/" role="button"><i class="bi bi-youtube"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac; border-radius: 50px;"
                href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border-radius: 50px;"
                href="https://www.linkedin.com/" role="button"><i class="bi bi-linkedin"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border-radius: 50px;"
                href="https://www.github.com/" role="button"><i class="bi bi-github"></i></a>
        </section>
    </div>

</footer>