<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="bi bi-list"></i>
  </label>
  <label class="logo1"><a routerLink="" ><img src="https://cdn-icons-png.flaticon.com/512/2331/2331846.png" style="max-height: 80px;"></a></label>
  <label class="logo2"><a routerLink="" >RM Games</a></label>
  <ul>
    <li><a routerLink="">Inicial</a></li>
    <li><a routerLink="sobre">Sobre</a></li>
    <li><a routerLink="contato">Contato</a></li>
  </ul>
</nav>
<div class="bg"></div>
