* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background: linear-gradient(to right, #E286A5, #B57EDC);
}

#candy{
    font-size: 30px;
    color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 10px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
    font-size: 22px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: white;
}

ul li a:hover {
    background: #e286a56a;
    transition: .5s;
}

@media (max-width: 991.98px) {

    #navbarNavDropdown, ul li a:hover {
        background-color: #B57EDC;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}