<footer class="text-center text-white bg-custom py-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <h1 class="display-4">ToyLand</h1>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <a class="links" routerLink="">Home</a>
                <a class="links" routerLink="sobre">Sobre</a>
                <a class="links" routerLink="contatos">Contatos</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998; border-radius: 50px;"
                    href="https://www.facebook.com/" role="button"><i class="bi bi-facebook"></i></a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #25D366; border-radius: 50px;"
                    href="https://www.web.whatsapp.com/" role="button"><i class="bi bi-whatsapp"></i></a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39; border-radius: 50px;"
                    href="https://www.youtube.com/" role="button"><i class="bi bi-youtube"></i></a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac; border-radius: 50px;"
                    href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca; border-radius: 50px;"
                    href="https://www.linkedin.com/" role="button"><i class="bi bi-linkedin"></i></a>
                <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border-radius: 50px;"
                    href="https://www.github.com/" role="button"><i class="bi bi-github"></i></a>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        <p class="m-0">© 2023 Todos os Direitos Reservados:</p>
        <a class="text-white" href="https://github.com/rafaella0320">Rafaella Moreira</a>
    </div>
</footer>
