* {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-image: url(https://cdn.pixabay.com/photo/2018/10/04/15/19/cupcake-3723832_1280.jpg);
    height: 750px;
    background-position: center bottom;
    background-size: cover;
}

.content {
    top: 10;
    left: 20%;
    position: absolute;
    top: 30%;
    left: 20%;
}

.content h1 {
    color: #B57EDC;
    font-size: 60px;
    font-weight: bold;
}

.content a:hover {
    background-color: #b57edc70;
    color: white;
    transition: .5s;
}

.index {
    margin: 20px;
}

p {
    color: #888;
    font-size: 22px;
    margin-bottom: 20px;
}
  #doces {
    font-size: 28px;
    text-align: center;
    color: #B57EDC;
  }
  
  .cardapioBox {
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #E286A576;
    transition: box-shadow 0.3s ease;
    max-height: 300px;
  }
  
  .cardapioBox:hover {
    box-shadow: 0px 2px 4px #e286a5a0;
  }
  
  .cardapioBox img {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .cardapioBox h4 {
    font-size: 20px;
    margin-top: 10px;
    color: #8447b0;
    text-align: center;
  }
  
  .saibamais {
    text-decoration: none;
    background-color: #B57EDC;
    color: white;
    padding: 10px 10px;
    border-radius: 6px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border: none;
  }
  
  .saibamais:hover {
    background-color: #9c5cc4;
  }