<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="bi bi-list"></i>
    </label>
    <label class="logo1"><a routerLink="" ><img src="https://cdn-icons-png.flaticon.com/512/5417/5417308.png" style="max-height: 80px; padding: 10px;"></a></label>
    <label class="logo2"><a routerLink="" >ToyLand</a></label>
    <ul>
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="sobre">Sobre</a></li>
      <li><a routerLink="contato">Contatos</a></li>
    </ul>
  </nav>
  <div class="bg"></div>
  